*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'coves';
    src: url(../fonts/coves-light.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'coves';
    src: url(../fonts/coves-bold.otf);
    font-weight: 600;
}
/* GENERAL CSS */
html {
    font-family: 'coves';
    height: 100%;
}

body{
    font-family: 'coves';
    min-height: 100%;
}

.main {
    width: 90%;
    margin: 20px auto;
}

h2 {
    font-family: 'coves';
    font-weight: 600;
    color: #E76D83;
    font-size: 40px;
}

a {
    text-decoration: none;
}
/* END OF GENERAL */
/* NAV BAR MORIAYO */

.navigation-bar {
    display:flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #485696;
    height: 90px;
    align-items: center;
    font-family: 'coves';
    font-size: 20px;
    font-weight: 600;
    border-bottom: 5px solid #E76D83;
}

.navigation-left {
    display: block;
    height: 100%;
    align-items: center;
}

.navigation-right{
    display: flex;
    align-items: center;
}

#logo {
    height: 90%;
}

.menu-icon>img { 
    width: 35px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.navigation-right>ul {
    list-style: none;
    display: flex;
}

.nav-link-wrapper>li {
    padding: 0px 20px;
    transition-duration: 1s;
    display: inline-block;
}

.nav-link-wrapper {
    display: inline-block;
    padding: 2px;
    margin: 0px 20px;
    border-bottom: transparent 2px solid;
    transition: border 1s;
}

.nav-link-wrapper > a { 
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    transition: color 1s, border 1s;
}
.nav-link-wrapper:hover {
    border-bottom: #08a4bd solid 2px;
}
.nav-link-wrapper > a:hover{
    color: #08a4bd;
    transition-duration: 1s;
}

#phoneNav {
    display: none;
    width: 100%;
    text-align: center;
    background-color: #485696;
    font-family: 'coves';
    color: #ffffff;
}

#phoneNav > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

#phoneNav > ul > li {
    padding: 5px;
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #485696;
    transition: background-color 0.5s;
}

#phoneNav > ul > li:hover {
    background-color: #ffffff;
    color: #485696;
}

#phoneNav > ul > li > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: color 0.5s;
}

#phoneNav > ul > li > a:hover{
    color: #485696;
}



@media (max-width: 560px){
    /* .nav-right{
        display: none;
    } */

    /* .menu-icon > img{
        display: block;
        transition: 1s;
    } */

    .menu-icon > img:hover{
        transform: scale(1.07);
    }
}
/* END OF NAV BAR */
/* MAIN INTRO PAGE BEGINS- NICOLA */

.intro-button {
    background-color: #E76D83; 
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'coves';
    color: #ffffff;
    font-size: 25px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid #485696;
    border-right: 2px solid #485696;
  }

/* INTRO PAGE ENDS */
/* NOVEL INFO STARTS MISHAAL */
.novel-info-section{
    margin-top: 60px;
}

#novel-info-title {
    text-align: center;
    margin-bottom: 20px;
}

.novel-info-wrapper{
    width: 90%;
    align-items: center;
}

.novel-info-box>h4  {
    color: #485696;
    font-size: 3vmax;
}

.novel-info-box>p {
    font-size: 2vmin;
}

.novel-info-image {
    border: solid #485696 6px;
    border-radius: 50%;
    width: 50%;
    margin: 10px;
 } 

 @media (max-width :  630px) {
     .novel-info-box>p{
         font-size: 20px;
     }

     .novel-info-box>h4{
         font-size: 28px;
         margin-top: 20px;
         border-top: 2px dashed #485696;
         padding: 5px;
     }

     #img-prob {
        border-top: 2px dashed transparent;
    }
 }

/* NOVEL INFO ENDS MISHAAL */
/* Georgina Sign Up Page */
.sign-up-form {
    position: relative;
    width: 350px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); 
    background: #fff;
    padding: 40px;
    margin: 8% auto 0;
    text-align: center;
    color: #485696;
}

.input-box {
    font-family: 'coves';
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}
.sign-up-form > form > button {
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-family: 'coves';
    font-weight: 600;
    font-size: 15px;
    margin: 10px auto;
    border: none;
    outline: none;
    cursor: pointer;
}

.sign-btn {
    background-color: #E76D83;
}

.google-btn {
    background-color: #E76D83;
}


hr {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.or {
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}

#user_logo {
    width: 70px;
    margin-top: -70px;
}


/* Parralax */
.parralax{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: absolute;
    background-size: cover;   
}

#parralax1{
    background-image: url(../images/parallax/pexels-photo-3938023.jpeg);
}

#parralax2{
    background-image:url(../images/parallax/faceless-scientist-inspecting-chemical-samples-in-science-3825458.jpg);
}
/* Georgina Sign Up Page ends */

/* About us page starts */
.about-us-page{
    background: url(../images/aboutusbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.about-us-text1 {
    background-color: rgba(255, 255, 255, 0.2);
    color: #E76D83;
    line-height: 26px;
    font-family: 'coves';
    font-size: 18px;
    width: auto;
    margin: 70px;
    padding: 20px;
    border-radius: 15px;
    border: wheat;
}
.about-us-text2 {
    background-color: rgba(255, 255, 255, 0.2);
    color: #E76D83;
    line-height: 26px;
    font-family: 'coves';
    font-size: 18px;
    width: auto;
    margin: 70px;
    padding: 20px;
    border-radius: 15px;
    border: wheat;
}
/* Georgina Sign Up ends */


/* Roles */
#main-colour{
    background-color: #485696;
    margin: 0 ;
    width: 100%;
    margin-top: 70vh; 
    height: 100vh;
    padding-top:20px ;
}
#roles{/* Need margin to stop overlap of absolute image */
    padding: 20px;
}

#roles-title{
    color: #E76D83;
    font-size: 5vw;
    padding: 3%;
    padding-left: 13%;
    background-color: #485696;
    display: flex;
    
}
#roles-title:before{
    content: "";
    display: block;
    width: 10%;
    height: 12px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 235%;
}
#roles-title:after{
    content: "";
    display: block;
    width: 70%;
    height: 12px;
    background:#fff;
    position: absolute;
    right: 0;
    top: 235%;
}

/*.grid /* Georgina Grid New*/
{
    position: relative;
    top: -200px;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.grid .hover-box
{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #E76D83;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.hover-box:hover{
    transform: scale(1.3);
    transition: 1.5s;
}

.grid-two
{
    position: relative;
    top: -400px;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.grid-two .hover-boxtwo
{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #E76D83;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.hover-boxtwo:hover{
    transform: scale(1.3);
    transition: 1.5s;
}

.grid-three
{
    position: relative;
    top: -600px;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.grid-three .hover-boxthree
{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #E76D83;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.hover-boxthree:hover{
    transform: scale(1.3);
    transition: 1.5s;
}

/* Quiz */
#quiz{
    margin-top: 80vh;
    padding-bottom: 20vh;
}

#quiz-title{
    text-align: end;
    color: #E76D83;
    font-size: 5vw;
    padding: 3%;
    padding-left: 70%;
    background-color: #fff;
    display: flex;
}
#quiz-title:before{
    content: "";
    display: block;
    width: 63%;
    height: 12px;
    background: #485696;
    position: absolute;
    left: 0;
    top: 582%;
}
#quiz-title:after{
    content: "";
    display: block;
    width: 18%;
    height: 12px;
    background: #485696;
    position: absolute;
    right: 0;
    top: 582%;
}
#quiz-description{
    padding: 20px;
    text-align: center;
}

.quiz-wrapper{
    text-align: center;
}
/* Quiz ends */

/* Find out more links start */
.main-find-out-more-section {
    background: #fff;
}

#find-out-more-title {
    text-align: center;
    margin-bottom: 20px;
    font-display: bold;
    color: #E76D83;
    font-size: 5vw;
    padding: 3%;
    padding-left: 13%;
    background-color: #fff;
    display: flex;
}

.container4 {
    padding-left: 40%;
}

.col-xs-6 {
    margin: 0;
}

.btn {
    display: block;
    font-size: 50px;
    padding: 10px 20px;
}
.find-out-more-button {
    background-color: #E76D83; 
    padding: 15px;
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;
    font-family: 'coves';
    color: #ffffff;
    font-size: 25px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid #485696;
    border-right: 2px solid #485696;
    margin: 15px;
  }

/* Find out more links ends */
/* Footer begins mishaal */

.follow-text{
    color: rgba(255, 255, 255, 0.795);
    line-height: 25px;
    font-size: 15px;
    background-color: #485696;
    text-align: center;
    margin-bottom: 0;
}
.our-mission{
    color: rgba(255, 255, 255, 0.795);
    line-height: 25px;
    font-size: 15px;
    background-color: #485696;
    text-align: center;
    margin-bottom: 0;
}
.subscribe{
    color: rgba(255, 255, 255, 0.795);
    line-height: 25px;
    font-size: 15px;
    background-color: #485696;
    text-align: center;
    margin-bottom: 0;
}
.follow, .newsletter{
    color: rgba(255, 255, 255, 0.897);
    font-size: 18px;
}
.footer-top{
    background: #485696;
    padding: 20px 0;
    
}
.segment-one  {
    padding-top: 30px;
}
.segment-two>h2 {
    color: #fff;
    font-family: 'coves';
    text-transform: uppercase;
}
.segment-two>h2:before{
    content: ' | ';
    color: #e76d83;
    padding-right: 10px;
}

.footer-text-wrapper{
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.twitter, .facebook, .instagram, .linkedin{
    background: #E76D83;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
}

.segment-three h3{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.segment-three h3:before{
    content: ' | ';
    color: #e76d83;
    padding-right: 10px;
}
.segment-three form input[type=submit] {
    background: #e76d83;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;

}
.footer-bottom-text {
    background: #485696;
    text-align: center;
    line-height: 75px;
    font-size: 15px;
}
@media only screen and (min-width: 786px) and (max-width: 991px) {
    .md-mb-30 {
        margin-bottom: 0;
        width: 100%;
        margin-top: 5px;  
    }
}
@media only screen and (max-width: 767px) {
    .sm-mb-30 {
        margin-bottom: 0;
        width: 100%;
        margin-top: 5px; 
    }
}